body {
	background-color: white;
}

header {
	background-color: white;
}

main {
	background-color: white;
}

aside {
	background-color: white;
}

footer {
	background-color: white;
}

h1 {
	color: black;
}

h2 {
	color: black;
}

h3 {
	color: black;
}

h4 {
	color: black;
}

th {
	color: black;
}

td {
	color: black;
}

label {
	color: black;
}
