<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<p>
	<a href="http://localhost:5000/imagen">/imagen</a>
	<label>Renderizado de Imagen</label>
	</p>

	<p>
	<a href="http://localhost:5000/fibonacci/12">/fibonacci/12</a>
	<label>Función Fibonacci para número 12</label>
	</p>
	
	<p>
	<a href="http://localhost:5000/asdasdad">/asdasda</a>
	<label>Error 404, Página no encontrada</label>
	</p>

	<p>
	<a href="http://localhost:5000/todas_las_recetas">/todas_las_recetas</a>
	<label>Display de todas las recetas</label>
	</p>
	
	<p>
	<a href="http://localhost:5000/recetas_con/Vodka">/recetas_con/Vodka</a>
	<label>Display de las recetas que lleven vodka</label>
	</p>

	<p>
	<a href="http://localhost:5000/recetas_compuestas_de/2/ingredientes">/recetas_compuestas_de/2/ingredientes</a>
	<label>Display de las recetas que se conformen de 2 ingredientes</label>
	</p>

	<p>
	<a href="http://localhost:5000/api/recipes">/api/recipes</a>
	<label>Display de todas las recetas (Método GET)</label>
	</p>

	<p>
	<a href="http://localhost:5000/postrecipes">/api/recipes</a>
	<label>Añadir una receta y display(Método POST)</label>
	</p>

	<p>
	<a href="http://localhost:5000/api/recipes/5f7daa068ec9dfb536781afe">/api/recipes/5f7daa068ec9dfb536781afe</a>
	<label>Display de la receta con id "5f7daa068ec9dfb536781afe" (Método GET)</label>
	</p>
	
</body>
</html>

